# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/

# Environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store

# Models & artifacts
models/*.joblib
models/*.pkl
models/*.bin
models/transformer_model/

# Logs and local files
*.log
